<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/reg.css' %}" type="text/css">

    <meta charset="utf-8">
    <title>Register</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="jumbotron">
          <form method="post">
              <center><h1>REGISTER</h1></center>
              {% csrf_token %}
              <!-- {{ form.as_p }} -->
              {{ form.first_name.label_tag }}
              {{ form.first_name }}
              {{ form.last_name.label_tag }}
              {{ form.last_name }}
              {{ form.username.label_tag }}
              {{ form.username }}
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.password1.label_tag }}
              {{ form.password1 }}
              {{ form.password2.label_tag }}
              {{ form.password2 }}
            <center><button class="btn btn-success form-control" type="submit">Register</button></center>
            <br>
            <center> <a href="/">Cancel</a> </center>
          </form>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </body>
</html>
